@use 'mixins' as *;

@mixin h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 500;

  @include respond-to(md) {
    font-size: 1.625rem;
    line-height: auto;
    font-weight: 600;
  }

  @include respond-to(sm) {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
}

@mixin h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;

  @include respond-to(md) {
    font-size: 1.375rem;
    line-height: auto;
    font-weight: 400;
  }

  @include respond-to(sm) {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}

@mixin h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

@mixin text-lg {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;

  @include respond-to(md) {
    font-size: 1.125rem;
    line-height: auto;
    font-weight: 400;
  }

  @include respond-to(sm) {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}

@mixin text-md {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;

  @include respond-to(md) {
    font-size: 1rem;
    line-height: auto;
    font-weight: 400;
  }

  @include respond-to(sm) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

@mixin hints {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;

  @include respond-to(md) {
    font-size: 0.875rem;
    line-height: auto;
    font-weight: 400;
  }

  @include respond-to(sm) {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
  }
}
