@use 'app/styles/variables' as *;
@use 'app/styles/typography' as *;

.strength__bar {
  display: flex;
  gap: 8px;
  height: 4px;
  width: 100%;
  margin-top: -2px;
}

.strength__segment {
  flex: 1;
  height: 2px;
  border-radius: 2px;
  margin-top: 4px;
  transition: background-color 0.3s ease;

  &.activeRed {
    background-color: $color-status-error;
  }
  &.activeYellow {
    background-color: $color-status-warn;
  }
  &.activeGreen {
    background-color: $color-status-success;
  }
}

.strength__label {
  @include text-md;

  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.88rem;
  font-weight: 400;
  margin-top: 8px;

  &.red {
    color: $color-status-error;
  }
  &.yellow {
    color: $color-status-warn;
  }
  &.green {
    color: $color-status-success;
  }
}

.strength__icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
