@use 'app/styles/variables' as *;
@use 'app/styles/typography' as *;
@use 'app/styles/mixins' as *;

.reset {
  @include text-md;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  color: $color-input-outline-primary;

  &__link {
    @include text-button;
  }
}
